<%- include("partials/header", title) %>

<main>
  <form action="/new" method="post" class="new-msg-form">
    <label for="user" class="lbl-input-pair">
      Name
      <input type="text" name="user" id="user" required />
    </label>

    <label for="text" class="lbl-input-pair">
      Message
      <textarea name="text" id="text" rows="5" required></textarea>
    </label>

    <button>Submit</button>
  </form>
</main>

<%- include("partials/footer") %>
