<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Message Board</title>
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
    <header>
      <h1>Message Board</h1>
      <p>Our Platform, Your Thoughts</p>
    </header>

    <main>
      <div class="content">
        <div class="title-pair">
          <h2>Messages</h2>
          <a href="/new" class="link-btn">New Message</a>
        </div>

        <div class="msgs">
          <% for (let i = messages.length - 1; i >= 0; i-= 1) { %>
            <div class="msg-container">
              <div class="msg">
                <p class="msg-txt"><%= messages[i].text %></p>
                <p>by <span class="bold-txt"><%= messages[i].user %></span> on <span class="bold-txt"><%= messages[i].added.toString().split(" ").slice(0, 5).join(" ") %></span></p>
              </div>

              <a href="/messages/<%= i %>">View Message</a>
            </div>
          <% } %>
        </div>
      </div>
    </main>

    <footer><p>Footer Placeholder</p></footer>
  </body>
</html>
