<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Message Board</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <header>
      <h1>Message Board</h1>
      <p>Our Platform, Your Thoughts</p>
    </header>

    <main>
      <div>
        <p><%= msg.text %></p>
        <p><%= msg.user %></p>
        <p><%= msg.added %></p>
      </div>
    </main>

    <footer><p>Footer Placeholder</p></footer>
  </body>
</html>
